table.fancy {
    width: 100%;
}
table.fancy td {
    color: #666;
}
table.fancy thead th {
    background-color: #f0f0f0;
    border-bottom: 1px solid #666;
}

table ~ .navigation {
    padding-top: 20px;
}
.fancy td + td {
    padding-left: 10px;
}
ul.navigation > li {
    list-style: none;
}
