p {
    font-size: initial;
    color: inherit;
    background-color: -moz-button-color; /* identifier */
    border-image: -moz-linear-gradient(top, #4687ce 0%, #3068a2 100%); /* vendor function */
    content: '.'; /* single-quoted string */
    -moz-content: "this isn't cool"; /* double-quoted string */
    background-image: url(http://example.com/foo.gif); /* url */
    margin-left: -1; /* integer */
    line-height: 2.5; /* number */
    width: 25%; /* percentage */
    height: 250cm; /* length */
    transition-rotation: 270deg; /* degrees */
    transition-time: 1.5s; /* time */
    frequency: 60Hz; /* frequency?! */
    border-color: #369; /* short color */
    border-left-color: #9adeff; /* long color */
    border-right-color: green; /* color word */
}
